[defaults]
inventory = hosts
roles_path = _ansible_roles
retry_files_enabled = False
nocows = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[privilege_escalation]
become = yes
become_method = sudo
